<% include ../partials/header %>

<div class="container">
  <h1 class="container-heading">Add new comment to <%= campground.name %></h1>

  <div class="container-form">

    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="comment[text]" placeholder="Comment">
      </div>
      <div class="form-group">
        <input type="submit" value="Submit!" class="btn btn-l btn-primary btn-block">
      </div>
    </form>

    <a href="/campgrounds/<%= campground._id %>">Go back</a>
  </div>

</div>

<% include ../partials/footer %>