<% include ../partials/header %>

<div class="container">
  <h1 class="container-heading">Create a new campground</h1>
  
  <div class="container-form">

    <form action="/campgrounds" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Name" name="name" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="number" placeholder="Price per night" name="price" min="0.01" step="0.01" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Image link" name="image" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Description" name="description" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Submit!" class="btn btn-l btn-warning btn-block">
      </div>
    </form>

    <a href="/campgrounds">Go back</a>
  </div>
</div>

<% include ../partials/footer %>