.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 25px;
}

.delete-form {
  display: inline;
}

.message {
  margin-top: 20px;
}

.container-heading {
  text-align: center;
}

.container-form {
  max-width: 300px;
  margin: 25px auto;
}

body {
  padding-top: 56px;
  padding-bottom: 56px;
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 2.0rem;
  }
}

.well {
  margin-top: 20px;
}

.well .row {
  border-radius: 3px;
  padding: 10px;
  background: #f0f4c3;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}

nav {
  background: #dce775;
}

#footer {
  position: fixed;
  bottom: 0;
  background: #dce775;
  width: 100%;
  height: 56px;
  text-align: center;
  line-height: 56px;
}

#footer a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  transition: all 0.3s;
  text-decoration: underline;
  color: black;
}

#footer a:hover {
  background-color: #C0CA33;;
  text-decoration: underline;
}

.jumbotron {
  background: #f0f4c3;
}

.container .thumbnail {
  background: #f0f4c3;
}

.container .row .thumbnail {
  margin-bottom: 20px;
  padding-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .text-right {
    margin-top: 20px;
  }
}