.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

.message {
  margin-top: 20px;
}

.login input {
  margin: 10px;
}

.container-heading {
  text-align: center;
}

.container-form {
  max-width: 300px;
  margin: 25px auto;
}

body {
  padding-top: 56px;
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 2.0rem;
  }
}