.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

.message {
  margin-top: 20px;
}

input {
  margin: 10px;
}

body {
  padding-top: 56px;
}